@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Bold.woff');
}

@font-face {
    font-family: 'roman';
    src: url('../fonts/TimesNewRomanPSMT.woff');
}

@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidSerif.woff');
}

@font-face {
    font-family: 'raleway-reg';
    src: url('../fonts/Raleway-Regular.ttf');
}